[Unit]
Description=Uexec for <%= user %>
After=network.target

[Service]
WorkingDirectory=<%= home %>
ExecStart=<%= runner %> monitor
User=<%= user %>
PIDFile=/var/run/uexec-<%= user %>.pid

[Install]
WantedBy=multi-user.target